@charset "utf-8";

:root {
    --app-dark-background-color: #1a1d28;
    --app-white-background-color: #fff;
    --app-simplegray-background-color: #2a2d38;
    --app-lightgray-background-color:  #ccc;
    --app-green-background-color:#28a745;
    --app-light-background-color: #9d9798;
} 

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--app-white-background-color);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
