@charset "utf-8";

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-wrapper {
    background-image: url(../img/background\ img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    height: 100svh;
    border-radius: 0 50% 50% 50%;
}

.content-form {
    position: absolute;
    left: 60%;
    font-size: 2rem;
    
    .title {
        color: #0066cc;
        font-weight: bold;
    }

    .logo {
        background-color: #0066cc;
        color: #fff;
        border-radius: 5px;
        margin-left: 4px;
        padding: 0 5px;
    }

    p {
        font-size: 10px;
    }

    .msg {
        font-size: 15px;
        font-weight: 400;
        color: #9d9b9b;
        margin-bottom: 15px;
        margin: 17px 0px;
    }
}

.account-details {
    display: grid;
    gap: 30px;
}

.input-field {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-weight: 400;
    input {
        border-bottom: 2px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
        width: 70%;
        font-size: 20px;
    }
}

.login-msg {
    input[type=checkbox] {
        height: 17px;
        accent-color: #0066cc;   /* Using new-property to change the color */
    } 
    a {
        color: #0066cc;
    }
}


.login-btn {
    background-color: #0066cc; 
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
  
.login-btn:hover {
    background-color: #1776ca; 
    transform: scale(0.95);
}
  
.fa-solid {
    margin-right: 5px;
}

.email-error {
    color: #f00;
    position: fixed;
    bottom: 50%;
}

.password-error {
    color: #f00;
    position: fixed;
    bottom: 36%;
}

.checkbox-error {
    color: #f00;
    position: fixed;
}

.eye-toggle {
    position: absolute;
    bottom: 36%;
    right: 30%;
    cursor: pointer;
}
